#filterbutton {
  
}

#filterSearch {
  display: none;  
}

.meetingcolumn {
  text-align: left;
}

/** modal **/
.modal-body .form-control {
  width: 97%;
}

.watchicon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 5px;
}

.glyphicon-plus {
  color: white;
}

/** instructor table **/
.ins-table {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    margin-left:5px;
}
.ins-table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
.ins-table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
  
/** advanced search **/
#advancedSearch {
  margin-top: 10px;
  margin-left: 100px;
}

#advancedSearch a {
  color: #fff;
  font-family: Ubuntu;
}

/** new search form stuff **/
#revised-search {
    font-size:13px;
    color:#eee;
    font-family:Arial, Helvetica, sans-serif;

    width:620px;
    margin:15px
}

#searchFormWrapper{
  margin-top: 10px;
  margin-left: 13%;
  margin-bottom: 0px;
}

#searchFormWrapper .checkbox label {
  padding:3px;
}

#selDept{
  width: 273px;

}

#selCourse{
  width: 200px;
}

#selInstructor {
  width: 150px;
}

#lg-menu {
font-size: 18px;
}

#sm-menu {
font-size: 14px;
}

#resultsHeader{
  margin-top: 20px;
  margin-left:45%;
  margin-right:50%;
}

fieldset{
    border:none;
}

#searchInputContainer{
    /* This div contains the transparent search box */
    width:420px;
    height:36px;
    background:url("../images/searchBox.png") no-repeat;
    float:left;
    margin-right:12px;
}

#s{
    /* The search text box. */
    
    border:none;
    color:#888888;
    /*background:url("searchBox.png") no-repeat;*/
    
    float:left;
    font-family:Arial,Helvetica,sans-serif;
    font-size:15px;
    height:36px;
    line-height:36px;
    margin-right:12px;
    outline:medium none;
    padding:0 0 0 35px;
    text-shadow:1px 1px 0 white;
    width:420px;
}

/* The UL that contains the search type icons */

.icons{
    list-style:none;
    margin:10px;
    height:19px;
    position:relative;
}

.icons li{
    background:url("../images/icons.png") no-repeat;
    float:left;
    height:19px;
    text-indent:-9999px;
    cursor:pointer;
    margin-right:5px;
}

/* Styling each icon */

li.web{ width:15px;}
li.web.active,
li.web:hover{ background-position:left bottom;}

li.images{ width:22px; background-position:-18px 0;}
li.images.active,
li.images:hover{ background-position:-18px bottom;}

li.news{ width:14px; background-position:-44px 0;}
li.news.active,
li.news:hover{ background-position:-44px bottom;}

li.videos{ width:17px; background-position:right 0;}
li.videos.active,
li.videos:hover{ background-position:right bottom;}

span.arrow{
    /* The little arrow that moves below the icons */
    
    width:11px;
    height:6px;
    margin:21px 0 0 5px;
    position:absolute;
    background:url('../images/arrow.png') no-repeat;
    left:0;
}


/* The submit button */


#submitButton{
    /*background:url('buttons.png') no-repeat;*/
    width:83px;
    height:36px;
    /*text-indent:-9999px;*/
    overflow:hidden;
    text-transform:uppercase;
    border:none;
    cursor:pointer;
}

#submitButton:hover{
    background-position:left bottom;
}

#searchInContainer{
    float:left;
    margin-top:12px;
    width:330px;
}

#searchInContainer label{
    color:#DDDDDD;
    cursor:pointer;
    font-size:11px;
    position:relative;
    right:-2px;
    top:-2px;
    margin-right:10px;
    white-space:nowrap;
    /*float:left;*/
}

input[type=radio]{
    cursor:pointer;
    /*float:left;*/
}

/************* Instructor-courses CSS *************/
.instructor-course {
  max-width: 640px;
}
.instructor-course div {
  max-width: 640px;
}
/************* Instructor-courses End *************/


/************* Begin My Account CSS *************/
.comment-options {
  float:right;
}

.expanded-div {
  display: block;
  height:200px;
}
.collapsed-div {
  display:block;
  height:0;
}

.print-schedule-button {
  margin-right:10px;
  margin-top:10px;
}

/**********************************************/

/************* Begin Maps CSS *************/
.iframe-rwd  {
position: relative;
padding-bottom: 65.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
.iframe-rwd iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
/************* End Maps CSS *************/
/************* Begin FullCalendar CSS *************/
#calendar {
  margin-top:80px;
  width: 900px;
  margin: 0 auto;
}
/************* End FullCalendar CSS *************/
/************* Begin On Boarding CSS *************/
.login-header {
  margin-top: 45px;
  margin-right: 15px;
  float: right;
  font-size: 20px;
}

.onboarding-picture-block {
  height: 300px; 
  width: 100%; 
  overflow: hidden; 
  background-image: url('../images/breeze.jpg'); 
  background-repeat: no-repeat; 
  background-size: 100% 300px; 
 /* border-top: 1px solid black; not needed due to navbar border*/ 
  border-bottom: 1px solid black;
}

.block-header {
  font-size: 30px;
  color: black;
  text-align: center;
}

.block-image {
  display: block;
  max-height: 250px;
  max-width: 400px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.block-text {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 20px;
  color: black;
  text-align: center;
}

.intro-text {
  font-size: 28px;
  font-style: italic;
  color: black;
  text-align: left;
  margin-top: 220px;
  margin-left: 20px
}

.colorblock-gradient {
  background-image: url('../images/gradient.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.colorblock-white {
  background: white;
  min-height: 300px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}


.social-div {
  background-color: #008B64;
  text-align: center; 
  margin-top: 0px; 
  margin-bottom: 0px;
}

.social-p {
  padding: 20px; 
  font-size: 18px; 
  color: black;
  margin-bottom: 0px;
}

.social-a {
  margin: 0px 15px;
}

/************* End On Boarding CSS *************/

.result-table {
  margin: 10px;
  border: solid;
  border-spacing: 10px;
  margin-left:12%;
  max-width: 73%;
  
}

.my-courses-table {
  margin: 10px;
  border: solid;
  border-spacing: 10px;
  width: 94%;
}

.buttoncolumn {
  float:left;
  padding-left:10px;
  vertical-align: bottom;
}

td,th {
  text-align: center;
  padding: 5px;
}

h2, h3 {
  margin-top: 3%;
  margin-left: 5px;
}

.header_banner {
  height: 95px;
  background-image: url("../images/header_banner.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

.login-panel {
  margin-left: 25%;
  margin-right: 15%;
  margin-top: 6%;
}

.maincol {
  background-image: url('../images/manoaseal_watermark.jpg');
  background-size: 75% 75%;
  background-repeat: no-repeat;
  background-position: 50% 60%;
}

.info {
margin-left: 10px;
}

.course-dropdown-button {
  margin-left: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  color: #ffffff;
  background-color: #005837;
  width: 97%;

}

.course-dropdown-button:hover {
  color: #ffffff;
}

.mobileresults {
  display:none;
  text-align: center;
  background-color: #eee;
  margin-left: 5px;
  width: 97%;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-bottom: 2px;
}

.bottom-spacing {
  height: 100px;

}

.add-comment-area {
  
}

#slider-range {
  width: 400px;
  margin-top: 5px;
}

#time {
  margin-left: 55px;
}

.infoicon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 5px;
}

.classinfo {
  text-align: left;
}

#schedule-header {
  margin-left: 42%;
  margin-right: 40%;
}

.added {
 background-color: #BBFF99;
 border: none;
}

.added:hover {
  background-color: #BBFF99;
}

.tableheader {
  background-color: #eee;
}

.modal-header {
 padding-bottom: 30px;
}

.modal-body {
 margin-left: 10px;
}

.professor-new-info {
  color: red;
}

#search-dept {
  max-width: 200px;
}

#search-course { 
  max-width: 150px;
  margin-left: 10px;
}

#search-days {
  margin-left: 10px;
}

#search-time {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.checkbox-inline {
  margin-left: 10px;
}

.navbar-left {
  padding-left: 40px;
  padding-top: 10px;
}

#lg-menu {
  font-size: 18px;
}

#sm-menu {
  font-size: 14px;
}

/* custom template */
html,body {
  height: 100%;
  font-family: Ubuntu, verdana, arial, sans-serif;
  color: black;
}

a {
  color: #222222;
}

a:hover {
  text-decoration: none;
}

/***** Start Navbar *****/
.navbar {
  border-radius: 0px;  /* Removes rounded corners from nav-bar. */
}

.nav {
  font-family: Ubuntu, Arial, sans-serif;
  font-size:17px;
  color:black;
}

.navbar-inverse {
  margin-bottom:0px;
}

.nav-bar-link {
  font-color:white;
}

.navbar-inner {
  background-color: #048D61;
  background-image: url("../images/header_banner.jpg");
  background-repeat:repeat-x;
  min-height:50px; /*must be min-height or pull down menu will be transparent.*/
}

.navbar-inverse .navbar-text {
  color: white;
  margin-left: 120px;
  margin-bottom: 0px;
}

/***** Sticky footer *****/

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
    padding-bottom: 150px;}  /* must be same height as the footer */

#footer {position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;} 

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
}
/***** End Sticky footer *****/


