@(page: String)


@Main(page) {

<div>
<h2>Information</h2>
<p class="info"><b>Name: </b>John Doe</p>
<p class="info"><b>Standing: </b>Sophomore</p>
</div>

<h2>My Courses</h2>
   <table class="result-table table-striped">
   <tr>
   <th>CRN</th>
   <th>Course</th>
   <th class="hidden-xs">Title</th>
   <th class="hidden-xs hidden-sm">Department</th>
   <th>Gen Ed./Focus</th>
   <th>Instructor</th>
   <th class="hidden-xs hidden-sm">Location</th>
   <th>Time</th>
   <th></th>
   </tr>
                   
   <tr>
   <td>84935</td>
   <td>ICS 111</td>
   <td class="hidden-xs">Intro to Computer Science I</td>
   <td class="hidden-xs hidden-sm">ICS</td>
   <td></td>
   <td>Ravi Narayan</td>
   <td class="hidden-xs hidden-sm">POST 127, POST 319</td>
   <td>M 0530-0800p, W 0530-0645p</td>
   <td><button class="btn btn-danger btn-sm"><div class="glyphicon glyphicon-remove"></div> Remove</button></td>
   </tr>
  </table>
}