@(page: String, user : UserInfo, schedule: List[Course], watchList: List[Course], comments: List[UserComment])

@Main(page, true) {

<!-- FullCalendar Scripts and Style -->
<link rel="stylesheet" href="@routes.Assets.at("fullcalendar/fullcalendar.css")">
<link rel="stylesheet" media="print" href="@routes.Assets.at("fullcalendar/fullcalendar.print.css")">
<script src="@routes.Assets.at("lib/jquery.min.js")"></script>
<script src="@routes.Assets.at("lib/jquery-ui.custom.min.js")"></script>
<script src="@routes.Assets.at("fullcalendar/fullcalendar.min.js")"></script>

<script>
$(document).ready(function() {

    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    $('#calendar').fullCalendar({
        editable: true,
        header: false,           // remove header 
        allDaySlot: false,       // remove allday slot from top of calendar 
        slotEventOverlap: false, // prevent overlapping events 
        defaultView: 'agendaWeek',
        events: [
          @for((course, courseIndex) <- schedule.zipWithIndex) {
        	  @for((meeting, meetingIndex) <- course.getMeeting().zipWithIndex) {
        		{
                  title: '@course.getCourseName()',
                  start: @meeting.getFullCalendarStartTime(),
                  end: @meeting.getFullCalendarEndTime(),
                  allDay: false
                }
                @if(courseIndex == schedule.length-1 && meetingIndex == course.getMeeting().length-1) {} else {,}
        	  }
          }       

        ]
    });

});
</script>

<script>
var calendar = $('#calendar');
calendar.fullCalendar({
    dayClick: function(date, allDay, jsEvent, view) {
        calendar.fullCalendar('renderEvent', { title: 'YOUR TITLE', start: date, allDay: true }, true );
    }
});
</script>

<!-- / FullCalendar Scripts and Style -->


<h2>Information</h2>
<p class="info">
  <b>Name: </b>@user.getFullName()
</p>
<p class="info">
  <b>UH Username: </b>@user.getUserName()
</p>
<p class="info">
  <b>Role: </b>@user.getRole()
</p>
<!-- End Student Information Section -->

<!-- Begin Preferences Section -->
<h2>Notification Preferences</h2>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-4 control-label">Receive updates by email:</label>
    <div class="col-sm-5">
      <select class="form-control">
        <option>Sign me up!</option>
        <option>Maybe next time.</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Enter your phone number to receive updates by text:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" placeholder="Telephone Number">
    </div>
  </div>
</form>
<!-- End Preferences Section -->

<br>
<ul class="nav nav-tabs" data-tabs="tabs" style="margin-left: 10px; margin-right: 10px; margin-top: 10px;">
  <li class="active"><a data-toggle="tab" href="#Schedule">Schedule</a></li>
  <li><a data-toggle="tab" href="#WatchList">Watch List</a></li>
  <li><a data-toggle="tab" href="#Comments">Comments</a></li>
  <li><a data-toggle="tab" href="#ScheduleHistory">Schedule History</a></li>
</ul>

<div class="tab-content" style="margin-left: 10px; margin-right: 10px;">
  <div class="tab-pane active" id="Schedule">

    <h1>Current Schedule</h1>
    <div id='calendar'></div>

  </div>
  <div class="tab-pane" id="WatchList">
    <h1>Watch List</h1>
    <h3>Sprint 2014</h3>
    @for(course <- watchList) {
    <div class="visible-sm visible-xs">
      <a class="btn course-dropdown-button" id="myclassbutton1"> @course.getCourseName() @course.getCourseTitle() </a>
      <div class="mobileresults" id="myclassinfo1">
        <p>
          <b>CRN: </b><br>@course.getCourseNumber()
        </p>
        <hr></hr>
        <p>
          <b>Gen Ed./Focus: </b>@course.getGenFocus()<br>
        </p>
        <hr></hr>
        <p>
          <b>Instructor: </b><br>@course.getInstructor()
        </p>
        <hr></hr>
        @for(meeting <- course.getMeeting()) {
        <p>
          <b>Location: </b><br>POST 127<br>POST 319
        </p>
        <hr></hr>
        <p>
          <b>Time: </b><br>M 0530-0800p<br> W 0530-0645p
        </p>
        <hr></hr>
        }
        <p>
          <a type="button" class="btn btn-danger btn-xs glyphicon glyphicon-remove">
            Remove
          </a>
        </p>
      </div>
    </div>
    }

    <table class="my-courses-table table-striped hidden-sm hidden-xs">
      <tr>
        <th>CRN</th>
        <th>Course</th>
        <th>Title</th>
        <th>Department</th>
        <th>Seats Avail</th>
        <th>Instructor</th>
        <th>Location</th>
        <th>Time</th>
        <th></th>
      </tr>
      @for(course <- watchList) {
      <tr>
        <td>@course.getCourseNumber()</td>
        <td>@course.getCourseName()</td>
        <td>@course.getCourseTitle()</td>
        <td>ICS</td>
        <td>0</td>
        <td>@course.getInstructor()</td>
        <td>POST 127, POST 319</td>
        <td>M 0530-0800p, W 0530-0645p</td>
        <td>
          <div>
            <a class="btn btn-danger btn-sm" data-toggle="modal" href="#Course@course.getCrn()"><div class="glyphicon glyphicon-remove"></div>Remove</a>
          </div>
        </td>
      </tr>
      }
    </table>
  </div>

  <div class="tab-pane" id="Comments">
    <h1>Comments</h1>

    <table class="my-courses-table table-striped">
      <tr>
        <th>Date</th>
        <th>Course</th>
        <th>Comment</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      @for(comment <- comments) {
      <tr>
        <td>@comment.getPostDate()</td>
        <td>@comment.getCourseNumber()</td>
        <td>@comment.getComment()</td>
        <td></td>
        <td>
          <button id="edit2" type="button" class="btn btn-primary btn-xs" onclick="cmt.show2()">Edit</button>
        </td>
        <td><a type="button" class="btn btn-danger btn-xs" data-toggle="modal" href="#Comment@comment.getId()">Delete</a></td>
      </tr>
      }
    </table>
  </div>


  <div class="tab-pane" id="ScheduleHistory">
    <h1>Schedule History</h1>
    <h3>Spring 2014</h3>
    <div class="visible-sm visible-xs">
      <a class="btn course-dropdown-button" id="myclassbutton4"> ICS 111 Intro to Computer Science I </a>
      <div class="mobileresults" id="myclassinfo4">
        <p>
          <b>CRN: </b><br>84935
        </p>
        <hr></hr>
        <p>
          <b>Gen Ed./Focus: </b><br>
        </p>
        <hr></hr>
        <p>
          <b>Instructor: </b><br>Ravi Narayan
        </p>
        <hr></hr>
        <p>
          <b>Location: </b><br>POST 127<br>POST 319
        </p>
        <hr></hr>
        <p>
          <b>Time: </b><br>M 0530-0800p<br> W 0530-0645p
        </p>
        <hr></hr>
      </div>
    </div>
    <table class="my-courses-table table-striped hidden-sm hidden-xs">
      <tr>
        <th>CRN</th>
        <th>Course</th>
        <th>Title</th>
        <th>Department</th>
        <th>Gen Ed./Focus</th>
        <th>Instructor</th>
        <th>Location</th>
        <th>Time</th>
      </tr>

      <tr>
        <td>84935</td>
        <td>ICS 111</td>
        <td>Intro to Computer Science I</td>
        <td>ICS</td>
        <td></td>
        <td>Ravi Narayan</td>
        <td>POST 127, POST 319</td>
        <td>M 0530-0800p, W 0530-0645p</td>
      </tr>
    </table>

    <h3>Fall 2013</h3>
    <div class="visible-sm visible-xs">
      <a class="btn course-dropdown-button" id="myclassbutton5"> ICS 111 Intro to Computer Science I </a>
      <div class="mobileresults" id="myclassinfo5">
        <p>
          <b>CRN: </b><br>84935
        </p>
        <hr></hr>
        <p>
          <b>Gen Ed./Focus: </b><br>
        </p>
        <hr></hr>
        <p>
          <b>Instructor: </b><br>Ravi Narayan
        </p>
        <hr></hr>
        <p>
          <b>Location: </b><br>POST 127<br>POST 319
        </p>
        <hr></hr>
        <p>
          <b>Time: </b><br>M 0530-0800p<br> W 0530-0645p
        </p>
        <hr></hr>
      </div>


    </div>

    <table class="my-courses-table table-striped hidden-sm hidden-xs">
      <tr>
        <th>CRN</th>
        <th>Course</th>
        <th>Title</th>
        <th>Department</th>
        <th>Gen Ed./Focus</th>
        <th>Instructor</th>
        <th>Location</th>
        <th>Time</th>
      </tr>

      <tr>
        <td>84935</td>
        <td>ICS 111</td>
        <td>Intro to Computer Science I</td>
        <td>ICS</td>
        <td></td>
        <td>Ravi Narayan</td>
        <td>POST 127, POST 319</td>
        <td>M 0530-0800p, W 0530-0645p</td>
      </tr>
    </table>

    <h3>Spring 2013</h3>
    <div class="visible-sm visible-xs">
      <a class="btn course-dropdown-button" id="myclassbutton6"> ICS 111 Intro to Computer Science I </a>
      <div class="mobileresults" id="myclassinfo6">
        <p>
          <b>CRN: </b><br>84935
        </p>
        <hr></hr>
        <p>
          <b>Gen Ed./Focus: </b><br>
        </p>
        <hr></hr>
        <p>
          <b>Instructor: </b><br>Ravi Narayan
        </p>
        <hr></hr>
        <p>
          <b>Location: </b><br>POST 127<br>POST 319
        </p>
        <hr></hr>
        <p>
          <b>Time: </b><br>M 0530-0800p<br> W 0530-0645p
        </p>
        <hr></hr>
      </div>
    </div>

    <table class="my-courses-table table-striped hidden-sm hidden-xs">
      <tr>
        <th>CRN</th>
        <th>Course</th>
        <th>Title</th>
        <th>Department</th>
        <th>Gen Ed./Focus</th>
        <th>Instructor</th>
        <th>Location</th>
        <th>Time</th>
      </tr>

      <tr>
        <td>84935</td>
        <td>ICS 111</td>
        <td>Intro to Computer Science I</td>
        <td>ICS</td>
        <td></td>
        <td>Ravi Narayan</td>
        <td>POST 127, POST 319</td>
        <td>M 0530-0800p, W 0530-0645p</td>
      </tr>
    </table>
  </div>

</div>

</div>

<div class="bottom-spacing"></div>
<!-- /main -->

<!-- Watchlist Modals -->

@for(course <- watchList) {
<div class="modal fade" id="Course@course.getCrn()" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
      </div>
      <div class="modal-body">Are you sure you want to delete this course from your watchlist? This action cannot be undone.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a id="modalconfirm"
             type="button" 
             class="btn btn-primary"
             href="@routes.Application.deleteCourseFromWatchlist(course.getCrn())">
             Delete
         </a>
      </div>
    </div>
  </div>
</div>
}

<!-- Comment Modals -->
@for(comment <- comments) {
<div class="modal fade" id="Comment@comment.getId()" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
      </div>
      <div class="modal-body">Are you sure you want to delete this comment? This action cannot be undone.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a id="modalconfirm"
             type="button" 
             class="btn btn-primary"
             href="@routes.Application.deleteComment(comment.getId())">
             Delete
         </a>
      </div>
    </div>
  </div>
</div>
}

}
