@(page: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

        <!--  Load site-specific customizations after bootstrap. -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->      
        <!--[if lt IE 9]>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
        <![endif]-->
    </head>
    
<body>

<!-- Load Bootstrap JavaScript components -->
<!-- Load Bootstrap JavaScript components. HTMLUnit (used in testing) requires JQuery 1.8.3 or below). -->
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<!-- Load Google Fonts -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Abel|Ubuntu">


<script type='text/javascript'>        
$(document).ready(function() {
/* off-canvas sidebar toggle */
$('[data-toggle=offcanvas]').click(function() {
    $(this).toggleClass('visible-xs text-center');
    $(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
    $('.row-offcanvas').toggleClass('active');
    $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
    $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
    $('#btnShow').toggle();
 });       
});
</script>

<div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">
                      
          
            <!-- sidebar -->
            <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
              
                <ul class="nav">
                    <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                </ul>
               
                <ul class="nav hidden-xs" id="lg-menu">
                    <li class="active"><a href="search.html"><i class="glyphicon glyphicon-search"></i> Search</a></li>
                    <li><a href="print.html"><i class="glyphicon glyphicon-print"></i> Print Schedule</a></li>
                    <li><a href="email.html"><i class="glyphicon glyphicon-envelope"></i> Email Schedule</a></li>
                    <li><a href="map.html"><i class="glyphicon glyphicon-road"></i> View Map</a></li>
                    <li><a href="@routes.Application.account()"><i class="glyphicon glyphicon-home"></i> My Account</a></li>
                    <br>
                    <li><a href="@routes.Application.register()"><i class="glyphicon glyphicon-plus"></i> Sign Up</a></li>
                    <li><a href="@routes.Application.login()"><i class="glyphicon glyphicon-user"></i> Login</a></li>
                </ul>
              
                <!-- tiny only nav-->
              <ul class="nav visible-xs" id="xs-menu">
                    <li><a href="search.html" class="text-center" title="Search"><i class="glyphicon glyphicon-search"></i></a></li>
                    <li><a href="print.html" class="text-center" title="Print Schedule"><i class="glyphicon glyphicon-print"></i></a></li>
                    <li><a href="email.html" class="text-center" title="Email Schedule"><i class="glyphicon glyphicon-envelope"></i></a></li>
                    <li><a href="map.html" class="text-center" title="Map"><i class="glyphicon glyphicon-road"></i></a></li>
                    <li><a href="@routes.Application.account()" class="text-center" title="Home"><i class="glyphicon glyphicon-home"></i></a></li>
                    <br>
                    <li><a href="@routes.Application.register()" class="text-center" title="Register"><i class="glyphicon glyphicon-plus"></i></a></li>
                    <li><a href="@routes.Application.login()" class="text-center" title="Login"><i class="glyphicon glyphicon-user"></i></a></li>
                </ul>
            </div>
            <!-- /sidebar -->
                  
            <!-- main right col -->
            <div class="column col-sm-10 col-xs-11" id="main">
                <!-- top nav -->
                <div class="navbar">  
                    <div class="visible-xs"><img src="@routes.Assets.at("images/header_banner.jpg")"></div>
                    <div class="hidden-xs">
                      <img class="pull-left" width="100px" src="@routes.Assets.at("images/UH_Warriors.jpg")">
                      <p class="navbar-text">UH Class Schedule Helper</p>
                    </div>
                </div>
                <!-- /top nav -->
                @content
             
            </div>
            <!-- /main -->
          
        </div>
    </div>
</div>

</body>


</html>
