<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head></head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="http:////netdna.bootstrapcdn.com/bootswatch/3.0.0/spacelab/bootstrap.min.css">

<!--  Load site-specific customizations after bootstrap. -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

<!-- Load Google Fonts -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Abel|Ubuntu">
  <link rel="stylesheet" href="@routes.Assets.at("fullcalendar/fullcalendar.css")">
  <link rel="stylesheet" media="print" href="@routes.Assets.at("fullcalendar/fullcalendar.print.css")">



  <!-- Responsive navbar -->
  <div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <!--  Display three horizontal lines when navbar collapsed. -->
            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="@routes.Application.index()" 
                 style="color:white">Search
              </a>
            </li>
            <li>
              <a href="@routes.Application.index()" 
                 style="color:white">View Map
              </a>
            </li>
            <li>
              <a href="@routes.Application.myAccount()" 
                 style="color:white">My Account
              </a>
            </li>
            <li>
              <a href="@routes.Application.index()" 
                 style="color: white">Sign Out
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>  
  <!-- End Navbar -->
  
<div id='calendar'></div>
  <script src="@routes.Assets.at("lib/jquery.min.js")"></script>
  <script src="@routes.Assets.at("lib/jquery-ui.custom.min.js")"></script>
  <script src="@routes.Assets.at("fullcalendar/fullcalendar.min.js")"></script>

<script type='text/javascript'>
    $(document).ready(function() {
    
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        
        $('#calendar').fullCalendar({
            editable: true,
            header: false,           // remove header 
            allDaySlot: false,       // remove allday slot from top of calendar 
            slotEventOverlap: false, // prevent overlapping events 
            defaultView: 'agendaWeek',
            events: [
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: new Date(y, m, d-3, 16, 0),
                    allDay: false
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: new Date(y, m, d+4, 16, 0),
                    allDay: false
                },
                {
                    title: 'Meeting',
                    start: new Date(y, m, d, 10, 30),
                    allDay: false
                },
                {
                    title: 'Lunch',
                    start: new Date(y, m, d, 12, 0),
                    end: new Date(y, m, d, 14, 0),
                    allDay: false
                },
                {
                    title: 'Birthday Party',
                    start: new Date(y, m, d+1, 19, 0),
                    end: new Date(y, m, d+1, 22, 30),
                    allDay: false
                },
                {
                    title: 'Click for Google',
                    start: new Date(y, m, 28),
                    end: new Date(y, m, 29),
                    url: 'http://google.com/'
                }
            ]
        });
        
    });

</script>

<style type='text/css'>
    #calendar {
        margin-top:80px;
        width: 900px;
        margin: 0 auto;
        }
</style>

</body>
</html>
